span.icon {
    user-select: none;
}


.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: var(--main-color);
    color: var(--font-color);
}

.sidebar header {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sidebar .image-text .disc {
    color: #d93f3f;
}

.sidebar .image-text .name {
    font-size: 2.75rem;
    font-weight: 500;
    color: #d93f3f;
}

.sidebar .content {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}


.sidebar .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
    color: var(--font-color);
}


.sidebar .footer {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sidebar .text {
    font-size: 26px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.sidebar .header-text span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar .header-text .name {
    font-weight: 600;
}

.sidebar .header-text .description {
    margin-top: -2px;
    font-size: 14px;
}

.sidebar .header-text {
    margin-left: 5px;
}


.sidebar .line {
    height: 1px;
    background: white;
    margin:5px 10px;
}


.sidebar .menu-container {
    margin-top: 20px;
    width: 100%;
}


.sidebar .menu-header .title {
    font-size: 18px;
    font-weight: 1000;
    color: var(--font-color);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar .menu-container .action-btn {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.sidebar .menu-container .action-btn:hover {
    background: var(--main-color-light);
}

.sidebar .menu-container .active {
    background: var(--main-color-light);
}

.sidebar .menu-container .action {
    display: flex;
    align-items: center;
    padding-left: 20px;
}



.sidebar .menu-container .action span {
    font-size: 17px;
    font-weight: 500;
    padding-left: 7px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sidebar .footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.sidebar .footer-container .user {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    padding: 7px;
    border-radius: 10px;
    transition: 0.1s ease;
}

.sidebar .footer-container .user:hover {
    background: var(--main-color-light);
    transform: scale(1.05);
}

.sidebar .user .user-image {
    border-radius: 100%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.sidebar .user .name {
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sidebar .logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    transition: 0.2s ease;
    margin: 0 10px;

    background: #332465;
}

.sidebar .user-image {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sidebar .logout-button:hover {
    background: var(--main-color-light);
}














