@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-light-color: #ffffff;
    --main-color: #efeaf3; /* #1a1335; /* #351a4d; /* #211030; */
    --main-color-light: rgb(222, 50, 81); /*#412d82; /*#aa92b4;*/
    --font-color: #fff;
    --error-message-color: #ad0000;
}

body {
    height: 100vh;
    margin: 0;
}



.main-layout-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background: var(--main-color);

    .header-container {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .sidebar-container {
        grid-column: 1;
        grid-row: 2;
    }

    .main-container {
        grid-column: 2;
        grid-row: 2;
    }
}



